#player-one-score{
    font-family: italic;
    color:blue;
 font-size:55px;

}
#player-two-score{
    color:red;
    font-weight: bold;
     font-size:55px;
}
.player-one-name{
    color:green;
    font-size:40px;
    font-weight:bold;
}
.player-two-name{
     color:green;
    font-size:40px;
    font-weight:bold;
    
}